{% extends "base.html" %}
{% block title %}Properties{% endblock %}

{% block image_grid %}

<!-- FILTER BAR -->
<div class="container mt-4">
<form method="get" class="row g-2 mb-4">

  <!-- Keyword typing -->
  <div class="col-md-3">
    <input
      type="text"
      name="keyword"
      class="form-control"
      placeholder="Keyword"
      value="{{ request.GET.keyword }}">
  </div>

  <!-- City typing -->
  <div class="col-md-3">
    <input
      type="text"
      name="city"
      class="form-control"
      placeholder="City"
      value="{{ request.GET.city }}">
  </div>

  <!-- Bedrooms dropdown -->
  <div class="col-md-2">
    <select name="bedrooms" class="form-select">
      <option value="">Bedrooms</option>
      <option value="1">1+</option>
      <option value="2">2+</option>
      <option value="3">3+</option>
      <option value="4">4+</option>
    </select>
  </div>

  <!-- Max price dropdown -->
    <div class="col-md-2">
    <select name="max_price" class="form-select">
      <option value="">Max Price</option>
      <option value="100000">₹100k</option>
      <option value="300000">₹300k</option>
      <option value="500000">₹500k</option>
      <option value="1000000">₹1M</option>
    </select>
  </div>

  <div class="col-md-2">
    <button class="btn btn-bd-primary w-100">Filter</button>
  </div>

</form>

</div>

<!-- ALBUM -->
<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

      {% for listing in listings %}
      <div class="col">
        {% include "property_card.html" with is_featured=listing.is_featured %}
      </div>
      {% empty %}
        <p class="text-center">No properties found.</p>
      {% endfor %}

    </div>
  </div>
</div>

{% endblock %}
